[submodule "submodules/webkit"]
	path = submodules/webkit
	url = https://github.com/andy-morris/webkit.git
[submodule "submodules/bindings-libsoup"]
	path = submodules/bindings-libsoup
	url = https://github.com/andy-morris/bindings-libsoup.git
[submodule "submodules/language-c"]
	path = submodules/language-c
	url = https://github.com/acowley/language-c.git
[submodule "submodules/hxt"]
	path = submodules/hxt
	url = https://github.com/DanielG/hxt.git
[submodule "client-vala"]
	path = client-vala
	url = https://github.com/andy-morris/ohsc.git
